.main-chat
  .main-chat__top
    .main-chat__top__left
      .main-chat__top__left__gname グループ名
      %ul.member
        Member:
        %li.name
          AAA
    = link_to "#" do
      .main-chat__top__edit-btn Edit
  .main-chat__center
    .main-chat__center__message 
      .main-chat__center__message__top
        .main-chat__center__message__top__name 佐藤
        %p.top__day 2020.1.20
      %p.bottom text
  .main-chat__bottom
    %form.new-message
      .input-box
        %input{type: "text", class: ",input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('far','image')
          %input{type: "file", class:"input-box__image__file"}
      %input{type: "submit", class:"submit-btn", value:"Send"}
  