.main-chat{
  width: calc(100vw - 300px);
  &__top{
    height: 100px;
    background-color: $main-white;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__left{
      font-size: 20px;
      color: #333333;
      margin-top: 35px;
      &__gname{
        margin-bottom: 15px;
      }
        .member{
        color: $main-gray;
        font-size: 12px;
        display: flex;
        }   
        .name{
        color: $main-gray;
        font-size: 12px;
        }
    }
    a{
      color: $main-blue;
      text-decoration: none;
      .main-chat__top__edit-btn{
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        border: solid 1px $main-blue;
        padding: 0 20px;
        margin-top: 30px;
      }
    }
  }
  &__center{
    background-color: #fafafa;
    height: calc(100% - 190px);
    padding: 46px 40px;
    &__message{
      padding-bottom: 40px;
      .main-chat__center__message__top{
      display: flex;
      margin-bottom: 10px;
        .main-chat__center__message__top__name{
        color: #333333;
        font-size: 16px;
        }
        .top__day{
        color: $main-gray;

        margin-left: 12px;
        }
      }
    
      // 　.bottom{

      //   }
      }
    }
  
  &__bottom{
    .form{
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
    }
      .new_message{     
        display: flex;
        .form__message{ 
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .input-box__image{
          cursor: pointer;
          position: relative;
          background-color: $main-white;
          .far{
          position: absolute;
          top: 15px;
          right: 10px;
          font-size: 1.3rem;
          }
        }
        
        .hidden{ 
          display: none;
        }   
      } 
      .submit-btn{
        background-color: $main_blue;
        width: 100px;
        color: $main-white;
        line-height: 50px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        cursor: pointer;
      }
  }
}
